/*CSS reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*default behavior
margin: 100px
padding:  25px
width: 1000px*/


body {
	font-family: 'Open Sans', sans-serif;
}

nav {
/*	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 15px;
	padding-left: 20px;*/
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}

nav .nav, nav .nav-logo {
	display: inline;
	margin: .8rem;
}

/*intro section*/
#intro {
	/*margin: 5rem;*/
	text-align: center;
	padding: 2rem 10%;
}

#intro > h2, 
#intro p,
#succeed-info > h2 {
	margin-bottom: 1rem;
}

#intro button {
	color: white;
	background-color: #c2195b;
	border-radius: 30px;
	padding: 1rem;
	font-size: 1rem;
	font-weight: bold;
}

#succeed-info {
	padding: 2rem 10%;
}

#succeed-info h3, #succeed-info .header {
	text-align: center;
	margin-bottom: 1rem;
}


#succeed-info .card {
	display: inline-block;
	vertical-align: top;
	margin-left: .5rem;
	margin-right: .5rem;
	width: 30%;
	min-height: 180px;
}

footer {
	padding: 1rem;
	text-align: center;
}

footer span {
	margin-left: 0.5rem;
	margin-right: .5rem;
}


#pre-footer {
	background-color: #002540;
	padding-top: .4rem;

}

#pre-footer div {
	display: inline-block;
	vertical-align: top;
	margin-left: .5rem;
	margin-right: .5rem;
	width: 20%;
	min-height: 180px;
	padding: .8rem;
	color: white;
	font-size: 12px;
}

#pre-footer h3, #pre-footer p {
	padding: 3px;
}